.friend_list {
    width: 300px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

/* Додайте стилі для online та offline статусів */
.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;

}

.online {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
}

.offline {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}

/* Додайте інші стилі, які вам потрібні для елементів FriendListItem */